<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TestUser">

    <select id="selectList2" resultMap="TestUserResultMap" parameterType="com.myframe.dao.util.Cnd">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="ColumnList" />
        from t_test_user
        <include refid="WhereClause" />
        <if test="orderBy">
        order by
        <foreach collection="orders" item="od" separator=",">
            ${od.key} ${od.value}
        </foreach>
        </if>
    </select>

    <select id="selectCount2" resultType="java.lang.Long" parameterType="com.myframe.dao.util.Cnd">
        select count(1) from t_test_user
        <include refid="WhereClause" />
    </select>

    <select id="selectById2" resultMap="TestUserResultMap" parameterType="java.lang.Long">
        select <include refid="ColumnList" /> from t_test_user where ID = #{id}
    </select>

    <select id="selectOne2" resultMap="TestUserResultMap" parameterType="com.myframe.dao.util.Cnd">
        select <include refid="ColumnList" /> from t_test_user
        <include refid="WhereClause" />
    </select>

</mapper>